html,
body,
.container {
  height: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  font-family: sans-serif;
  background-color: #363636;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 0.7fr 0.5fr;
      grid-template-columns: 0.5fr 0.7fr 0.5fr;
  -ms-grid-rows: 0.3fr 1fr 0.3fr;
      grid-template-rows: 0.3fr 1fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
      grid-template-areas: ". . ." ". container-center ." ". . .";
}

.container .container-center {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: container-center;
  background-color: #ffa822;
  padding: 1rem;
  border-radius: 2rem;
}

.container .container-center .line {
  border-top: solid 3px rgba(53, 53, 53, 0.253);
  margin: 20px 0px 20px 0px;
}

.container .container-center .container-one {
  position: relative;
  text-align: center;
  color: #383838;
}

.container .container-center .container-one form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .container-center .container-one #todo-input {
  background-color: #fdf9ed;
  border: none;
  border-radius: 2rem;
  margin: 0;
  outline: none;
  padding: 20px;
  font-size: 14px;
  color: #302f2f;
  width: 80%;
  font-weight: bold;
}

.container .container-center .container-one button {
  background-color: #fdf9ed;
  outline: none;
  border: none;
  width: 60px;
  margin-left: 0.5rem;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.container .container-center .container-one button i {
  font-size: 1.5rem;
  color: #4982d8;
  -webkit-transition: 0.5;
  transition: 0.5;
}

.container .container-center .container-one button:hover {
  background-color: #272726;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .container-center ul {
  padding: 0.2rem;
  margin: 0;
  list-style-type: none;
}

.container .container-center ul .todo-list {
  padding: 0.9rem;
  background-color: #134e6f;
  margin: 0.4rem;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.container .container-center ul .todo-list .span-true {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.container .container-center ul .todo-list .delete-btn {
  text-decoration: none;
  color: #ff6150;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .container-center ul .todo-list .delete-btn:hover {
  padding-right: 0.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .container-center ul .todo-list-false {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0.9rem;
  background-color: #18a56f;
  margin: 0.4rem;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.container .container-center ul .todo-list-false .span-true {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.container .container-center ul .todo-list-false .delete-btn {
  text-decoration: none;
  color: #f7b741;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .container-center ul .todo-list-false .delete-btn:hover {
  padding-right: 0.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/*# sourceMappingURL=mian.css.map */