$dark: #383838;
$bg-light: #fdf9ed;

html,
body,
.container {
  height: 100%;
  margin: 0;

  box-sizing: border-box;
}

.container {
  font-family: sans-serif;
  background-color: rgb(54, 54, 54);
  display: grid;
  grid-template-columns: 0.5fr 0.7fr 0.5fr;
  grid-template-rows: 0.3fr 1fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". container-center ."
    ". . .";

  //-------------------------

  .container-center {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    grid-area: container-center;
    background-color: #ffa822;
    padding: 1rem;
    border-radius: 2rem;

    .line {
      border-top: solid 3px rgba(53, 53, 53, 0.253);
      margin: 20px 0px 20px 0px;
    }

    .container-one {
      position: relative;
      text-align: center;
      color: $dark;

      form {
        display: flex;
        justify-content: center;
      }

      #todo-input {
        background-color: $bg-light;
        border: none;
        border-radius: 2rem;
        margin: 0;
        outline: none;
        padding: 20px;
        font-size: 14px;
        color: rgb(48, 47, 47);
        width: 80%;
        font-weight: bold;
      }

      button {
        background-color: $bg-light;
        outline: none;
        border: none;
        width: 60px;
        margin-left: 0.5rem;
        border-radius: 30px;
        transition: 0.5s;

        cursor: pointer;
        i {
          font-size: 1.5rem;
          color: #4982d8;
          transition: 0.5;
        }
        &:hover {
          background-color: #272726;
          transition: 0.5s;
        }
      }
    }
    ul {
      padding: 0.2rem;
      margin: 0;
      list-style-type: none;

      .todo-list {
        padding: 0.9rem;
        background-color: #134e6f;
        margin: 0.4rem;
        border-radius: 2rem;
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        .span-true {
          font-family: Arial, Helvetica, sans-serif;
          font-weight: bold;
          color: white;
          text-decoration: none;
        }

        .delete-btn {
          text-decoration: none;
          color: #ff6150;
          transition: 0.5s;

          &:hover {
            padding-right: 0.5rem;
            transition: 0.5s;
          }
        }
      }
      .todo-list-false {
        transition: 0.3s;
        padding: 0.9rem;
        background-color: #18a56f;
        margin: 0.4rem;
        border-radius: 2rem;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        .span-true {
          font-family: Arial, Helvetica, sans-serif;
          font-weight: bold;
          color: white;
          text-decoration: none;
        }
        .delete-btn {
          text-decoration: none;
          color: #f7b741;
          transition: 0.5s;

          &:hover {
            padding-right: 0.5rem;
            transition: 0.5s;
          }
        }
      }
    }
  }
}
